.button {
    display: flex;
    justify-content: space-around;
    align-content: center;
    
  }

  .block {
    justify-content: center;
    width: 300px;
    height: 350px;
  }

  img{
    height: 100px;
    width: auto;
  }